# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/
next-env.d.ts

# debug
npm-debug.log*
.DS_Store
*.pem

# env
.env*.local

# typescript
*.tsbuildinfo
